.app-wrapper{
  height: 100vh;
  overflow: auto;
  padding: 6px;
  padding-top: 7vh;
}

.item-wrapper {
  height: 31vh;
  min-height: 200px;
}

.header-height{
  height: 100px;
}

.media-title{
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin: 0px !important;
  font-weight: 300;
  font-size: 16px;
}
.media-category{
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin: 0px !important;
  font-weight: 600;
  font-size: 22px;
}

.search-box{
  padding:8px;
  border: none;
  background-color: #000;
  width: 80%;

}
